body {
    width: 100%;
    height: 100%;
    font-family: 맑은 고딕, Malgun Gothic, sans-serif;
}

header {
    position: fixed;
    top: 0;
    left: 220px;
    right: 0;
    z-index: 1500;
    height: 50px;
    border-bottom: 1px solid #D8DBDF;
    box-shadow: 0 3px 3px #D8DBDF;
    background-color: #fff;
}

#menu-toggle-btn {
    background: url("../img/28_gnbClose_normal.png") no-repeat center;
    width: 32px;
    height: 32px;
    border: none;
    
    position: absolute;
    top: 50%;
    margin-top: -16px;
    margin-left: 13px;
}

#header-title {
    position: absolute;
    line-height: 50px;
    left: 45px;
}

#header-title::before {
    content: "";
    border-left: 1px solid #D8DBDF;
    margin: 0 10px;
}

nav {
    background-color: rgb(16, 29, 52);
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    z-index: 2000;
    width: 220px;
    color: #fff;
}

nav a {
   color: #fff; 
}

#nav-title-wrap {
    height: 50px;
    position: relative;
}

#nav-title-wrap > h1 {
    position: absolute;
    top: 50%;
    left: 10px;
    margin-top: -8px;
    font-size: 17px;
    font-weight: normal;
}

.app-btn {
    background: url("../img/28_gnbApp.png") no-repeat center;
    width: 32px;
    height: 32px;
    border: none;

    position: absolute;
    top: 50%;
    right: 10px;
    margin-top: -16px;
}

.favorite-container {
    border-bottom: 1px solid#070c17;
    color: #fff;
}

.favorite-title {
    display: flex !important;
    align-items: center;
    color: #a2adc3;
}

.favorite-row {
    font-size: 12px;
    display: block;
    margin: 15px 15px;
}

.text-button {
    border: none;
    background-color: transparent !important;
    padding: 0;
}

.favorite-title > .text-button {
    margin-left: auto;
    padding-right: 0;
}

.favorite-title > .text-button > span {
    font-size: 12px;
    color: #a2adc3;;
}

.nav-item-row {
    padding-top: 5px;
    padding-bottom: 5px;
}

.depth-1 {
    display: flex;
    align-items: center;
    font-size: 15px;
    padding-left: 15px;
}

.depth-1 > span {
    margin-left: 5px;
}

.menu-open-button-depth-2, .menu-close-button-depth-2, .menu-open-button-depth-3, .menu-close-button-depth-3 {
    width: 16px;
    height: 16px;
    border: none;
    position: absolute;
    right: 10px;
}

.menu-open-button-depth-2 {
    background: url("../img/gnb16_2depthMenu_Open.png") no-repeat center;
}

.menu-close-button-depth-2 {
    background: url("../img/gnb16_2depthMenu_Close.png") no-repeat center;
}

.menu-open-button-depth-3 {
    background: url("../img/gnb16_3depthMenu_Open.png") no-repeat center;
}

.menu-close-button-depth-3 {
    background: url("../img/gnb16_3depthMenu_Close.png") no-repeat center;
}

.depth-2 > li {
    font-size: 13px;
    padding-top: 6px;
    padding-bottom: 6px;
    padding-left: 41px;
    color: #a2adc3;
}

.depth-2 > li > span:hover, .depth-3 > li > span:hover {
    color: #fff;
}

.depth-2 > li:hover {
    background-color: #0d1629;
}

.depth-3 > li {
    font-size: 12px;
    padding-top: 7px;
    padding-bottom: 7px;
    padding-left: 21px;
    color: #a2adc3;
    position: relative;
}

.depth-3 > li::before {
    content: "";
    border: 1px solid #343D50;
    width: 3px;
    height: 3px;
    border-top: none;
    border-right: none;
    position: absolute;
    top: 10px;
    left: 13px;
}

footer {
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    width: 100%;
    height: 65px;
    box-sizing: border-box !important;
    border-top: solid 1px #070c17;
}

footer > #language-button {
    position: absolute;
    top: 10px;
    left: 10px;
    color: #a2adc3;
    font-size: 11px;
    padding-right: 20px;
}

footer > #language-button::after {
    content: "";
    border-left: 3px solid transparent;
    border-right: 3px solid transparent;
    border-top: 4px solid #a2adc3;
    border-bottom: 4px solid transparent;

    position: absolute;
    top: 5px;
    right: 3px;
}

footer > .copyright-text {
    position: absolute;
    top: 40px;
    left: 10px;
    font-size: 10px;
    color: #a2adc3;
}

footer > .user-icon-button {
    background: url("https://midas.erpsolution.co.kr/image/profile/1/46b46c5e-32aa-4f94-a47a-2419e87a51ab.jpg") no-repeat center;
    width: 31px;
    height: 31px;

    position: absolute;
    top: 17px;
    right: 18px;
    border-radius: 16px;
    background-size: cover;
    outline:none;
    border: none;
    padding: 0;
    overflow: hidden;
}

.content-container {
    background-color: rgb(245, 246, 247);
    position: absolute;
    top:  50px;
    left: 220px;
    z-index: 50;
    width: calc(100% - 220px);
    height: calc(100% - 50px);
    display: flex;
    justify-content: center;
    font-size: 14px;
}

.content-wrap {
    box-sizing: border-box;
    width: 1320px; 
    height: 1000px;
    display: flex;
}

.content-header {
    width: 1000px;
    margin-right: 10px;
    height: 70px;
    line-height: 70px;
    position: relative;
}

#content-description {
    padding-left: 15px;
}

#template-edit {
    color: #a2adc3;
    height: 14px;
    position: absolute;
    top: 50%;
    margin-top: -9px;
    right: 15px;
}

.content-area {
    width: 1000px;
    height: 930px;

    margin-right: 10px;
    display: relative;    
    border: 1px solid #a2adc3;
    border-radius: 5px;
}

.template-name {
    height: 50px;
    line-height: 50px;
    border-bottom: 1px solid #a2adc3;
    position: relative;
    background-color: #fff;
}

.template-name > span {
    padding-left: 15px;
}

.performance-review-template-open {
    position: absolute;
    top: 50%;
    right: 15px;
    transform: translateY(-50%);
}

.performance-review-template-open > * {
    vertical-align: middle;
}

.template-layout-confirm-text {
    text-align: center;
    height: 30px;
    line-height: 30px;
    border-bottom: 1px solid #a2adc3;
}

.template-layout-content {
    width: 950px;
    height: 600px;
    margin: auto;
    margin-top: 30px;
    border: 1px solid #a2adc3;
    background-color: #fff;
}

.template-layout-header {
    height: 50px;
    line-height: 50px;
    padding-left: 15px;
    border-bottom: 1px solid #a2adc3;
    position: relative;
}

.template-layout-header > span:nth-child(2) {
    margin-left: 5px;
    color: #a2adc3;
}

.template-layout-header > span:nth-child(2)::before {
    content: ">";
    font-weight: bold;
    color: rgb(70, 94, 132);
    margin-right: 5px;
}

.template-layout-header > img {
    vertical-align: middle;
}

.template-layout-body {
    height: calc(100% - 51px);
    display: flex;
}

.template-layout-body > .template-layout-left-body {
    width: 720px;
    height: calc(100% - 30px);
    margin: 15px;
}

.template-layout-body > .template-layout-right-body {
    width: 170px;
    height: calc(100% - 30px);
    border-left: 1px solid #a2adc3;
    padding: 15px; 
}

.template-layout-input-row {
    border: 1px solid #a2adc3;
    height: 30px;
    border-radius: 5px;
    margin-bottom: 30px;
    display: flex;
}

.template-layout-body input {
    border: 1px solid #a2adc3;
    height: 28px;
    border-radius: 5px;
    padding: 0;
    margin: 0;
}

.template-layout-row input:focus {
    border-color: navy;
    outline: 0 none;
}

.template-layout-row input[name=task-name] {
    width: calc(100% - 60px);
    border: 0;
    margin-left: 5px;
}

.task-image {
    border-left: 1px solid #a2adc3;
}

.template-layout-body-text {
    height: 25px;
    line-height: 30px;    
}

.template-layout-textarea-row > textarea {
    width: calc(100% - 6px);
    border: 1px solid #a2adc3;
    resize: none;
    height: 100%;
    border-radius: 5px;
}

.template-layout-textarea-row textarea:focus {
    border-color: navy;
    outline: 0 none;
}

.template-layout-grade-form-row {
    height: 140px;
    background-color: rgb(8, 148, 247);
    border-radius: 5px;
    margin-bottom: 30px;
}

.template-layout-grade-form-row > div:first-child {
    color: #fff;
    margin-left: 10px;
    padding-top: 5px;
}

.template-layout-grade-form-row > input {
    display: block;
    border: none;
    outline: 0 none;

    width: calc(100% - 13px);
    height: calc(100% - 29px);

    margin: 5px;
    color: rgb(8, 148, 247);

    font-size: 20px;
    font-weight: bold;
}

input[name=task-progress], input[name=task-weight] {
    width: 90%;
    border: none;
}

.progress-unit {
    line-height:30px;
    margin-right: 5px;
}

input[name=task-weight] {
    padding-left: 5px;
    background-color: #d3d3d3;
}

.template-layout-task-weight {
    background-color: #d3d3d3;
}

.template-execution-period {
    margin-bottom: 30px;
}

.template-execution-period > select {
    width: 70px;
    height: 30px;
    border: 1px solid #a2adc3;
    border-radius: 5px;
    background: url("../img/16_selectBox_normal.png") no-repeat 95% 50%;
    appearance: none;
}

.content-menu {
    width: 300px;
    padding-left: 5px;
}

.content-menu-wrap {
    height: 930px;
    margin-top: 70px;
}

.add-template-area {
    height: 250px;
    border: 1px solid #a2adc3;
    border-radius: 5px;
    background-color: #fff;
}

.add-template-description {
    height: 200px;
    display: flex;
    align-items: center;
    padding-left: 10px;
}

.add-template-text-description {
    width: 200px;
}

.add-template-text-description > div {
    margin-bottom: 20px;
}

.add-template-text-description > div:first-child > span {
    font-size: 18px;
}

.add-template-image-description {
    width: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.add-template-button-wrap {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 50px;
    border-top: 1px solid #a2adc3;
}

.add-template-button-wrap > button {
    color: rgb(59, 59, 247);
    font-size: 16px;
    font-weight: bold;
}

#template-list-area {
    margin-top: 30px;
    height: 650px;
    border: 1px solid #a2adc3;
    border-radius: 5px;
    overflow: hidden;
}

.template-list-title{
    height: 30px;
    border-bottom: 1px solid #a2adc3;
    
    display: flex;
    align-items: center;
    justify-content: center;
}

.template-list-body {
    height: calc(100% - 30px);
    overflow-y: auto;
    background-color: #fff;
}

.template-list-item {
    height: 46px;
    line-height: 46px;
    border-bottom: 1px solid #a2adc3;
    padding-left: 10px;
    background-color: #fff;
}

.template-list-item > .template-used-text {
    color:rgb(8, 148, 247);
}

.template-list-item > span {
    margin-left: 10px;
}